.responsive-fluid {
	width: 80%;
}

@media(max-width: 576px) {
	.responsive-fluid { width: 100%; }
}

.responsive-rigid {
}

@media(max-width: 576px) {
	.responsive-rigid { width: 100vw;}
}
@media(min-width: 576px) {
	.responsive-rigid { width: 540px;}
}
@media(min-width: 768px) {
	.responsive-rigid { width: 720px;}
}
@media(min-width: 992px) {
	.responsive-rigid { width: 960px;}
}
@media(min-width: 1200px) {
	.responsive-rigid { width: 1140px;}
}