.main.findTab {
	width: 100%;
	height: 100%;
	background-color: var(--bg-color);
}

#up-filter {
	display: grid;
	grid-template-columns: 1fr 1fr;
}

.time-filter {
	input {
		display: inline-block;
		width: 4rem;
		border-radius: var(--border-rad);
		border: none;
		outline: solid 0.1rem grey;
	}
}