.main.findTab {
	width: 100%;
	height: 100%;
	background-color: var(--bg-color);
}

#up-filter {
	display: grid;
	grid-template-columns: 1fr 1fr;
}

.time-filter {
	padding: 1rem;
	h3 {
		margin: 3rem 0 1rem 0;
	}
	input {
		display: inline-block;
		border-radius: var(--border-rad);
		background-color: var(--not-selected);
		width: 2.25rem;
		text-align: center;
		outline: none;
		border: none;
		// remove arrows from number inputs
		-moz-appearance: textfield;
		&::-webkit-outer-spin-button,
		&::-webkit-inner-spin-button {
			-webkit-appearance: none;
		}
	}
	span {
		margin-right: 1.5rem;
	}
}