:root {
	--bg-color: #ffffff;
	--fg-color: #000000;
	--not-selected: #e4e4e4;
	--green: #00c562;
	--blue: #2d98f0;
	--red: #E6465C;
	--page-bg-color: #D8D8D8;
	--title-font: 'Open Sans', sans-serif;
	--text-font: 'Montserrat', sans-serif;
	--border-rad: 2px;
}